BeautifulSoup==3.2.1
Django==1.5.4
South==0.8.2
argparse==1.2.1
distribute==0.6.24
django-model-report==0.1.7
django-suit==0.2.5
html5lib==1.0b3
pisa==3.0.33
reportlab==2.7
six==1.4.1
wsgiref==0.1.2
xlwt==0.7.4
